<!doctype html>
<html>
  <head>
<!--    <title>This is the title of the webpage!</title>-->

    {% block head %}
    {%endblock%}
<!--    similarly javascript code can also be linked as below -->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'CSS/main.css') }}">
  </head>
  <body>
    <p>This is an example paragraph. Anything in the <strong>body</strong> tag will appear on the page, just like this <strong>p</strong> tag and its contents.</p>
    {% block body %}
    {%endblock%}
  </body>
</html>